<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <%- include ('../partials/header.ejs') %>
</head>
<body>
    <h1>Dishes: </h1>
    <ul>
        <% for(let i = 0; i < result.length; i++) { %>
        <li>
            <div id='listDiv'>
                <a href='/search/modifiedSearch/<%= result[i].id%>'><%= result[i].title %></a>
                <!-- <a href='https://api.spoonacular.com/recipes/<%=result[i].id%>/information?includeNutrition=false&apiKey=<%=SECRET%>'><%= result[i].title %></a> -->
                <ul>
                    <li>
                        <%= result[i] %> 
                    </li>
                </ul>
            </div>
        </li>
        <% } %>
    </ul>
</body>
</html>