<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit recipe</title>
    <%- include ('../partials/header.ejs') %>
</head>
<body>
    <h1>Recipe Edit Page</h1>
    <form action='/recipes/<%=recipe.id%>?_method=PUT' method='POST'>
        <label for="name">Name:</label>
        <input type='text' name='name' value="<%=recipe.name%>">
        <label for='cost'>Calories:</label>
        <input type='text' name='calories' value='<%=recipe.calories%>'>
        <label for='amount'>Ingredients:</label>
        <input type='text' name='ingredients' value='<%=recipe.ingredients%>'>
        <input type='submit' value='Submit'>
    </form>
    <button><a href='/recipes'>Back</a></button>
</body>
</html>